@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
/* Barlow */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
:root {
    /* colors */
    --scissorsGrad: hsl(39, 89%, 49%);
    --paperGrad: hsl(230, 89%, 62%);
    --rockGrad: hsl(349, 71%, 52%);

    --backgroundRad: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%)) ;

    /* Font stuff */
    --darkText: hsl(229, 25%, 31%);
    --scoreText: hsl(229, 64%, 46%);
    --headerOutline: hsl(217, 16%, 45%);

    --BarlowSemo: 'Barlow Semi Censored', sans-serif;
}

body {
    background: var(--backgroundRad);
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px var(--headerOutline) solid;
    border-radius: 15px;
    padding: 2rem;
    margin: 3rem;
}
.title h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--BarlowSemo);
    color: white;
    line-height: 1.8rem;
}
.scoreCont {
    background-color: white;
    /* padding: 2rem; */
    margin: 0;
    border-radius: 0.5rem;
    font-family: var(--BarlowSemo);
    text-align: center;
    padding-block: 1rem;
    padding-inline: 2rem;

}
.scoreHead {
    color: var(--scoreText);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    line-height: 0rem;
}
.score {
    font-size: 4rem;
    line-height: 3.5rem;
}

.gameCont {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    grid-template-rows: repeat(2, .5fr);
    background-image: url(./images/bg-triangle.svg);
    background-position: center;
    background-size: 27rem;
    background-repeat: no-repeat;
}

.optionBorder {
    background-color: var(--scissorsGrad);
    padding: 3rem;
}

.paper, .scissors, .rock {
    justify-self: center;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    /* object-fit: fill; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.optionImage {
    box-shadow: inset 0px 5px rgba(128, 128, 128, 0.438);
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    padding: 1rem;
    object-fit:scale-down;
}
.rock {
    grid-column: span 2;
}

.rulesCont {
    display: flex;
    justify-content: center;
}
.rulesBttn {
    font-family: var(--BarlowSemo);
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 2px white solid;
    padding-inline: 3rem;
    padding-block: .5rem;
    font-size: 2rem;
    text-transform: uppercase;
    max-width: min-content;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.rules {
    display: none;
 }